@font-face {
  font-family: "iconfont";
  src: url('./iconfont.ttf?t=1623863007135') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sekuaihuabi:before {
  content: "\e6b7";
}

.icon-xiangpica:before {
  content: "\e6ed";
}

.icon-huabi:before {
  content: "\e61f";
}

.icon-xiazai:before {
  content: "\e65d";
}

.icon-juxing:before {
  content: "\e64f";
}

.icon-radio-on-full:before {
  content: "\ea6a";
}

